<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock title %}Djangochat
    </title>

    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> {% endcomment %}

    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="bg-teal-600">
    <nav class="flex items-center justify-between px-6 py-4 bg-teal-900">
        <div>
            <a href="/" class="text-xl text-white hover:text-gray-300">Chat</a>
        </div>
        <div class="flex items-center">
            <a href="/" class="text-white hover:text-gray-300 px-5">Log in</a>
            <a href="/" class="text-white hover:text-gray-300 bg-teal-600 px-4 py-1 rounded-xl">Sign up</a>
        </div>



    </nav>

    {% block content %}
    {% endblock content %}

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> {% endcomment %}
</body>
</html>